.profile {
  max-width: 880px;
  min-height: 74px;
  color: white;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-top: 40px;

}

@media screen and (max-width: 1051px) {
  .profile {
    width: calc(100% - 2*100px);
  }
}

@media screen and (max-width: 860px) {
  .profile {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 770px) {
  .profile {
    width: calc(100% - 2*19px);
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 0;
  }
}
