.popup__part_name {
  padding: 0;
  margin-bottom: 30px;
  min-width: 358px;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 620px) {
  .popup__part_name {
    min-width: 238px;
  }
}
